@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>How to Use the Online Recharge System</title>
</head>
<body>
	<h1>WELCOME</h1>

	<h1>How to Use the Online Recharge System</h1>

	<ol>
		<li>Open the online recharge website in your web browser.</li>
		<li>If you are a existing user then <a href="Identity/Account/Login"> "Login" </a> or if you are a new user <a href="Identity/Account/Register"> "Register" </a></li>
		<li>Once you login then you can be able to see the available features on the toor bar </li>
		<li>Click on the <a href="RechargePlansModels/Index"> "Recharge" </a> to proceed with the recharge process.</li>
		<li> You can see all the avaiable plans and filter them according to provider name</li>
		<li>CLick on the "Recharge History" to view your recharge history</li>
		<li>Click on the queries to raise a queries and contact the admin</li>
	</ol>

	<p>Note: In case of any issues or errors during the recharge process, please contact our customer support team for assistance.</p>
</body>
</html>