@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>How to Use the Online Recharge System</title>
</head>
<body>
	<h1>WELCOME</h1>

	<h1>How to Use the Online Recharge System</h1>

	<ol>
		<li>Open the online recharge website in your web browser.</li>
		<li>Enter your phone number in the "Phone Number" field. Make sure to enter the correct phone number, including the country code if necessary.</li>
		<li>Select your mobile operator from the "Operator" dropdown list. If your operator is not listed, select "Other" and enter the operator name in the "Operator Name" field.</li>
		<li>Enter the amount you want to recharge in the "Amount" field. Make sure to enter the correct amount.</li>
		<li>Click on the <a href="RechargePlansModels/Index" > "Recharge" </a>button to proceed with the recharge process.</li>
		<li>You will be redirected to a confirmation page, where you can verify the details of your recharge. If everything looks good, click on the "Confirm" button to complete the recharge process.</li>
		<li>Once the recharge is successful, you will receive a confirmation message on your phone. You can also check your account balance to ensure that the recharge has been credited.</li>
	</ol>

	<p>Note: In case of any issues or errors during the recharge process, please contact our customer support team for assistance.</p>
</body>
</html>